body {
  min-width: 300px;
  text-align: center;
}

.mario-context {
  float: left;
  position: relative;
  margin-bottom: 100px;
  width: 17%;
  max-width: 182px;
  min-width: 120px;
}

.super-mario {
  width: 100%;
}

.goomba {
  width: 48%;
  left: 60%;
  position: absolute;
  top: 84%;
}

.baloon-context {
  position: relative;
  width: 40%;
  float: left;
}

.baloon {
  width: 100%;
}

.speach {
  font-size: 21px;
  position: absolute;
  top: 5%;
  left: 7%;
  width: 78%;
}

.bowser-context {
  float: right;
  position: relative;
  min-width: 478px;
  width: 65%;
  max-width: 800px;
}

.bowser {
  width: 60%;
  float: right;
}