body {
  min-width: 490px;
}

.mario-context {
  float: left;
  position: relative;
  margin-bottom: 100px;
}

.super-mario {
  width: 200px;
}

.goomba {
  width: 100px;
  left: 106px;
  position: absolute;
  top: 260px;
}

.baloon {}

.speach {
  font-size: 21px;
  position: absolute;
  top: 43px;
  left: 16px;
}

.bowser-context {
  float: right;
  position: relative;
  min-width: 545px;
  width: 65%;
  max-width: 800px;
}

.bowser {
  width: 500px;
  float: right;
}