body {
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;
  text-align: center;
}

h1 {
  font-size: 65px;
  color: orange;
  font-family: sans-serif;
  text-decoration: wavy;
  text-decoration-line: underline;
}

p {
  font-weight: 600;
  font-size: 3em;
}

ul {
  background-color: rgb(235, 231, 231);
}

.bg-color--soft {
  background-color: blanchedalmond;
}

.bg-color--yellow {
  background-color: rgb(253, 253, 201);
}

.bg-color--red {
  background-color: rgb(223, 167, 167);
}

.bg-color--brown {
  background-color: rgb(167, 148, 148);
}